<footer>
  <div>
    <p>
      <strong>Aqua Service s.c.</strong><br />
      ul. Słowackiego 50<br />
      37-700 Przemyśl
    </p>
    <p>
      NIP: 7952568786<br />
      REGON: 521666572
    </p>
    <p class="">
      <span>Śledź nasze <br /> realizacje</span>
    </p>
    <p>
      <a href="/polityka-prywatnosci">Polityka prywatności</a><br />
      <a href="/klauzula-informacyjna">Klauzula informacyjna</a>
    </p>
  </div>
</footer>

<style>
  footer {
    @apply p-10 border-t-2 border-t-accent;
  }

  div {
    @apply flex justify-between opacity-50;
  }
</style>
