<footer class="p-10 border-t-2 border-t-accent">
  <div class="grid grid-cols-2 md-grid-cols-4 gap-3 opacity-50">
    <p>
      <strong>Aqua Service s.c.</strong><br />
      ul. Słowackiego 50<br />
      37-700 Przemyśl
    </p>
    <p>
      NIP: 7952568786<br />
      REGON: 521666572
    </p>
    <div class="grid grid-cols-1 md-grid-cols-2 gap-3">
      <span class="mr-5">Śledź nasze <br /> realizacje</span>
      <div class="flex gap-3">
        <a href="/"><div class="i-mdi-instagram icon"></div></a>
        <a href="/"><div class="i-mdi-facebook icon"></div></a>
      </div>
    </div>
    <p>
      <a href="/polityka-prywatnosci">Polityka prywatności</a><br />
      <a href="/klauzula-informacyjna">Klauzula informacyjna</a>
    </p>
  </div>
</footer>

<style>
  .icon {
    @apply w-10 h-10 c-white;
  }

  .icon:hover {
    @apply c-accent;
  }
</style>
