<nav>
  <ul>
    <li><a href="#nasze-produkty" class="selected">Nasze produkty</a></li>
    <li><a href="#akcesoria">Akcesoria</a></li>
    <li><a href="#osmozy">Osmozy</a></li>
    <li><a href="#saturatory">Saturatory</a></li>
  </ul>
</nav>

<style>
  nav {
    @apply text-2xl fw-600;
  }

  ul {
    @apply flex gap-10;
  }

  .selected {
    @apply c-accent;
  }
</style>
