<nav>
  <ul>
    <li><a href="#nasze-produkty" class="selected">Nasze produkty</a></li>
    <li><a href="#akcesoria">Akcesoria</a></li>
    <li><a href="#osmozy">Osmozy</a></li>
    <li><a href="#saturatory">Saturatory</a></li>
  </ul>
</nav>

<style>
  nav {
    @apply font-kumbh text-2xl fw-600 color-primary;
  }
  
  ul {
    @apply flex gap-10;
  }

  .selected,
  li:hover {
    @apply color-accent;
  }
</style>
