---
import { Image } from 'astro:assets';
import logoAquaphor from '../img/logo_aquaphor.png';
import logoClarwod from '../img/logo_clarwod.png';
import logoPentair from '../img/logo_pentair.png';

interface Props {
  backgroundUrl: string;
}

const { backgroundUrl } = Astro.props;
---

<section class="p-10 md-rounded-10 bg-image shadow-2xl">
  <h2 class="pb-5 text-center">Współpracujemy z najlepszymi</h2>
  <div class="flex justify-center flex-wrap">
    <Image src={logoPentair} class={'self-center mt-5 mx-10'} alt="logo-pentair" />
    <Image src={logoAquaphor} class={'self-center mt-5 mx-10'} alt="logo-aquaphor" />
    <Image src={logoClarwod} class={'self-center mt-5 mx-10'} alt="logo-clarwod" />
    <Image src={logoAquaphor} class={'self-center mt-5 mx-10'} alt="logo-aquaphor" />
  </div>
</section>

<style define:vars={{ backgroundUrl }}>
  .bg-image {
    background: linear-gradient(90deg, rgba(67, 97, 124, 1) 15%, rgba(67, 97, 124, 0.85) 100%),
      var(--backgroundUrl);
    @apply bg-cover;
  }
</style>
